<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form action="/" method="post">
			<label for="email">Email</label>
			<input type="text" name="email" id="" />{% for message in
			get_flashed_messages(category_filter = ['email_error'])%}
			{{message}} {%endfor%}
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id=""/>{% for message in
				get_flashed_messages(category_filter = ['password']) :%}
				{{message}} {%endfor%}
			</div>
			</div>
			<div><button type="submit">create</button></div>
		</form>
	</body>
</html>
